body {
    margin: 10px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#calendar {
    margin: 12px auto;
}

ul.navList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li.navItem{
    float: left;
    border-right:1px solid #bbb;
  }
  li.navItem:last-child{
    border-right: none;
  }
  li.navItem a.navBar{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li.navItem a.navBar:hover{
    background-color: #111;
  }

body.Index_body{
    background-color: #D3D3D3;
}

div.Index_container{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

div.Index_mainDiv{
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    height: auto;
    width: auto;
}

h1.defaultconfig_h1{ /*Depreciated*/
    border-bottom: solid;
}

div.header-box {
    border-bottom: solid; }
div.header-box h1 {
    margin: 0px 0px .5em 0px;
}

div.index-filler {
    margin: 6em 0px;
}
.index-filler > p  {
    font-size: 2em;
}

.button{
    background-color: white; 
    color: black; 
    border: 2px solid #555555; 
    font-size: 20px;
}

.repButton{
    background-color: white; 
    color: black; 
    border: 2px solid #555555; 
    font-size: 14px;
    margin: 2px;
}

.left{
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clear{
    float: clear;
}

.ui-datepicker{
    background: #F2EEEE;
}

div.page{
	width: 21cm;
	margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	page-break-after:auto
}

td, tr{
	page-break-inside:avoid;
}

th, td {
    padding: 5px;
    text-align: left;
	text-align: center;
}

h2.center{
	text-align: center;
}