body {
    margin: 10px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}
p {
    margin-top: 0px;
    margin-bottom: .5em;
}
a {
    color: black;
    text-decoration: none;
}

.fc-content {
    text-align: center;
}

#calendar {
    margin: 12px auto;
}

ul.navList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li.navItem{
    float: left;
    border-right:1px solid #bbb;
  }
  li.navItem:last-child{
    border-right: none;
  }
  li.navItem a.navBar{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li.navItem a.navBar:hover{
    background-color: #111;
  }

body.Index_body{
    background-color: #D3D3D3;
}

div.Index_container{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0em 2em 4em 2em;
}
div.Index_container.nocenter {
    text-align: left;
}

div.Index_mainDiv{
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    height: auto;
    width: auto;
}

.size-1 {
    font-size: 1.25em;
}

.shy {
    color: rgb(88, 88, 88);
}

h1.defaultconfig_h1{ /*Depreciated*/
    border-bottom: solid;
}

div.header-box {
    border-bottom: solid; 
    text-align:center;
    margin-bottom: 1em;
}
div.header-box h1 {
    margin: 0px 0px .5em 0px;
}

div.index-filler {
    margin: 6em 0px;
}

div.tab {
    padding-left: 2em;
}

table.spacing-table {
    border: none;
    width:100%;
}
table.spacing-table th, table.spacing-table td{
    border: none;
}
table.spacing-table.col5  td{
    width: 20%;
}
table.spacing-table input[type=text] {
    width: 95%;
}

.inline-form input, .inline-form p {
    display: inline-block;
}

div.blurb {
    background-color: #D3D3D3;
    padding: 10px 20px 5px 20px;
    border: 2px solid black;
    border-radius: 15px;
    display: inline-block;
}
div.blurb h1, div.blurb h2, div.blurb h3, div.blurb p {
    margin: 0px 0px 5px 0px;
}

.fluffy-button {
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    padding: 4px 7px;
    box-shadow: rgb(216, 216, 216) 2px 2px 3px;
    display: inline-block;
}
.fluffy-button:hover {
    box-shadow: none;
}
.fluffy-button:active {
    background-color: rgb(216, 216, 216);
}
.fluffy-button-holder {
    display: inline-block;
}
.fluffy-button-holder p {
    float: left;
    margin-top: 3px;
    padding-right: 5px;  
}

.fluffy-input {
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    padding: 4px 7px;
    box-shadow: rgb(216, 216, 216) 1px 1px 2px;
}
.fluffy-input.invalid {
    border-color: rgb(172, 54, 0);
    color: rgb(172, 54, 0);
}

.scroll-box {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    padding: 4px 7px;
    overflow-y: scroll;
}

.fluffy-summary {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(148, 148, 148);
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 10px;
}
.fluffy-summary p, .fluffy-summary a {
    text-align: left;
    margin: 2px;
}
.fluffy-summary.header {
    border: none;
    margin-bottom: 5px;
}
.fluffy-summary.header p {
    font-weight: bold;
}
.fluffy-summary div {
    display: inline-block;
}
.fluffy-summary[col="3"] div{
    width: 32%;
}
.fluffy-summary[col="4"] div{
    width: 24%;
}

.error {
    color: rgb(172, 54, 0);
}
.success {
    color: rgb(0, 109, 0);
}

.underline {
    border-bottom: 1px solid black;
}

div.center-box{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} .center {
    text-align: center;
} .left {
    text-align: left;
}

.button{
    background-color: white; 
    color: black; 
    border: 2px solid #555555; 
    font-size: 20px;
}

.repButton{
    background-color: white; 
    color: black; 
    border: 2px solid #555555; 
    font-size: 14px;
    margin: 2px;
}

.left{
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clear{
    float: clear;
}

.ui-datepicker{
    background: #F2EEEE;
}

div.page{
	width: 21cm;
	margin: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	page-break-after:auto
}
td, tr{
	page-break-inside:avoid;
}
th, td {
    padding: 5px;
    text-align: left;
}
td > p {
    margin-top: 2px;
    margin-bottom: 2px;
}